.styleBar{
    display: inline-block;
}
.boldBtn{
 font-weight: bold;
}
.underlineBtn{
    text-decoration: underline;
}
.ItalicBtn{
font-style: italic;
}
.styleBarContainer{
    position: relative;
    text-align: center;
    height: 3em;
}
.editTxtArea{
    margin: 0px;
    width: 850px;
    height: 100px;
    position: relative;
    left: 8em;
}
/*  styling for making bold  */
.make_bold{
    font-weight: bold;
}
/*  styling for making italic  */
.make_italic{
    font-style: italic;
}
/*  styling for making underline  */
.make_underline{
    text-decoration: underline;
}
.remove_bold{
    font-weight: normal;
}
.remove_underline{
    text-decoration: none;
}
.remove_italic{
    font-style: normal;
}
.align_left{
    float: left;
}
.align_right{
   float: right;
}
.editorName{
    text-align: center;
}
.btnCommon{
    height: 3em;
    width: 3em;
}
.textAreaContainer{
    border: 1px solid gray;
    width: 80%;
    position: relative;
    left: 8em;
    height: 20em;
    background: white;
}
body{
    background: lightblue;
}